@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "adlam";
  src: url("/fonts/ADLaMDisplay-Regular.ttf");
  font-display: swap;
}

:root[data-theme="light"] {
  --text: #032103;
  --background: #e7e9e7;
  --primary: #7fd959;
  --secondary: #b9e2f8;
  --accent: #644ebc;
}
:root[data-theme="dark"] {
  --text: #defcde;
  --background: #161816;
  --primary: #4ca626;
  --secondary: #073046;
  --accent: #5943b1;
}

body {
  font-family: "adlam";
  scroll-behavior: smooth;
}
