@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "adlam";
  src: url("/fonts/ADLaMDisplay-Regular.ttf");
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "adlam";
}

/* For desktop browsers */
*::-webkit-scrollbar {
  width: 8px !important;
}

/* For mobile devices */
* {
  -webkit-overflow-scrolling: touch;
}

/* Track */
*::-webkit-scrollbar-track {
  background: rgb(26, 26, 26) !important;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: -moz-linear-gradient(
    187deg,
    rgba(26, 26, 26, 1) 13%,
    rgba(126, 217, 84, 1) 43%,
    rgba(26, 26, 26, 1) 80%
  ) !important;
  background: -webkit-linear-gradient(
    187deg,
    rgba(26, 26, 26, 1) 13%,
    rgba(126, 217, 84, 1) 43%,
    rgba(26, 26, 26, 1) 80%
  ) !important;
  background: linear-gradient(
    187deg,
    rgba(26, 26, 26, 1) 13%,
    rgba(126, 217, 84, 1) 43%,
    rgba(26, 26, 26, 1) 80%
  ) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1a1a1a",endColorstr="#1a1a1a",GradientType=1) !important;
}
